$bd: #ccc;
.nav {
  height: 80px;
  // border-bottom: 1px solid $bd;
  // position: relative;

  .nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    .nav-left {
      .logo {
        cursor: pointer;
      }
    }
    .nav-right {
      .right-box {
        display: flex;
        align-items: center;
        gap: 3em;
        ul {
          display: flex;
          align-items: center;
          gap: 2.5em;
          transition: all 0.4s ease-in-out;

          li {
            list-style: none;
            position: relative;
            &:hover i {
              transform: rotate(180deg);
            }
        &:hover .sub-menu{
          display: flex;
        }

            a {
              text-decoration: none;
              color: #fff;
              font-size: 17px;
              font-weight: 600;
              text-transform: capitalize;
            }
            i {
              color: #fff;
              margin-left: 5px;
              cursor: pointer;
              transition: all 0.4s ease-in-out;
            }
            .sub-menu {
              display: none;
              ul {
                position: absolute;
                z-index: 10;
                left: 0%;
                padding: 10px;
                width: 180px;
                background: #fff;
                box-shadow: 0px 5px 10px #ccc;
                display: block;
               margin-top: 10px;
               transition: all 0.4s ease-in-out;

                li{
                  border-bottom: 1px solid #ccc;
                  margin: 15px;
                  transition: all 0.4s ease-in-out;
                  
                 &:last-child{
                  border-bottom: none;
                 }
                 &:hover a{
                  margin-left: 10px;
                 }
                 &:hover i{
                  transform: rotate(-90deg);
                 }
                  a{
                    color: #1129b9;
                    font-size: 20px;
                    font-weight: 500;
                    transition: all 0.4s ease-in-out;
                 
                  }
                i{
                  color: #1129b9;
                  float: right;
                  transition: all 0.4s ease-in-out;

                }
                 
                }
                
              }
            }
          }
        }

        .nav-btn {
          width: 170px;
          height: 50px;
          background: #0c5adb;
          border-radius: 1.5rem 1.5rem;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          position: relative;
          transition: all 0.5s ease-in-out;

          z-index: 1;
          &::after {
            content: "";
            top: 0;
            left: 0;
            background: #1129b9;
            transform: scale(0);
            // width: 0%;
            position: absolute;
            z-index: -1;
            transition: all 0.5s ease-in-out;
            border-radius: 1.5rem 1.5rem;
          }
          &:hover::after {
            width: 100%;
            height: 100%;
            transform: scale(1);
          }
          span {
            text-transform: capitalize;
            color: #fff;
            font-weight: 700;
            font-size: 17px;
          }
        }
      }
    }
  }
}
