.footer_Page {
  height: auto;
  background: #111a3a;
  padding-top: 100px;
  // padding-bottom: 100px;
  .Subscribe-Page {
    width: 70%;
    height: auto;
    padding: 40px;
    margin: auto;
    background: #0c5adb;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: -200px;
    // margin-bottom: 100px;
    .sub-page-text {
      h2 {
        font-size: 32px;
        font-weight: 700;
        color: #fff;
        margin-bottom: 30px;
        text-align: center;
      }
      .box-sub {
        background: #fff;
        padding: 30px 40px 25px;
        border-radius: 80px;
        display: flex;
        align-items: center;
        gap: 2em;
        // position: relative;
        input {
          font-size: 14px;
          height: 60px;
          padding: 5px 25px;
          width: 28vw;
          background: #f6f6fc;
          border-radius: 40px;
          border: none !important;
          outline: none !important;
          transition: all 0.1s ease-in-out;
          &:focus:hover {
            outline: 3px solid #c9e3ff !important;
            //   transition: all 0.4s ease-in-out;
          }
        }
        ::placeholder {
          font-size: 13px;
          text-transform: capitalize;
        }
      }
      .btnA {
        width: 150px;
        height: 60px;
        background: #0c5adb;
        border-radius: 1.5rem 1.5rem 1.5rem;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        span {
          color: #fff;
          font-weight: 700;
        }
      }
    }
   
  }

  .sub-content-page {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    gap: 4em;
    padding-bottom:100px;
  }
  .footer-nav{
    height: 70px;
    border-top: 1px solid #ccc;
  }
}
