$text-color: #fff;
$blu-text-colo: #0c5adb;
@mixin flex-box() {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@mixin flex-boxB() {
  display: flex;
  align-items: center;
  justify-content: center;
}

%flex-footer {
  display: flex;
  // align-items: center;
  gap: 2em;
}

.footer_Page {
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 50px;
  // padding-bottom: 100px;

  .sub-content-page {
    @include flex-boxB();
    margin-top: 80px;
    gap: 7em;
    padding-bottom: 100px;
    .sub-footer-left {
      @extend %flex-footer;
      .sub-footer-leftA {
        .forter-logo {
          cursor: pointer;
          margin-bottom: 30px;
        }
        .p-text {
          margin-bottom: 20px;
          p {
            color: $text-color;
            font-weight: 400;
            line-height: 1.5;
            font-style: normal;
          }
        }
        .fot-flex {
          display: flex;
          flex-direction: column;
          gap: 1em;
          span {
            color: $text-color;
            font-size: 20px;
            font-weight: 400;
            cursor: pointer;
            transition: all 0.4s ease-in-out;
            &:hover {
              color: #0c5adb;
            }
          }
          .icons-flex {
            display: flex;
            align-items: center;
            gap: 0.7em;
            a {
              text-decoration: none;
              color: $text-color;
              font-size: 14px;
              height: 40px;
              width: 40px;
              background: #187dff;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 5px;
              i {
                cursor: pointer;
                font-size: 20px;
                transition: all 0.4s ease-in-out;
                &:hover {
                  color: #efefef;
                }
              }
            }
          }
        }
      }
      .sub-footer-leftB {
        .heading {
          h3 {
            color: #fff;
            font-size: 22px;
            margin-bottom: 20px;
          }
        }
        span {
          display: flex;
          align-items: center;
          gap: 0.7em;
          margin-top: 5px;
          color: $text-color;
          transition: all 0.4s ease-in-out;
          cursor: pointer;
          &:hover {
            color: #0c5adb;
          }
          p {
            width: 8px;
            height: 2px;
            background: $text-color;
          }
        }
      }
    }
    .sub-footer-right {
      @extend %flex-footer;
      .sub-footer-right1 {
        .headings {
          h3 {
            color: #fff;
            font-size: 22px;
            margin-bottom: 20px;
          }
        }
        .My-Box {
          display: flex;
          align-items: center;
          gap: 1em;
          h3 {
            color: #fff;
            font-size: 16px;
            font-weight: 700;
            line-height: 1.5;
            margin-bottom: 15px;
          }
          p {
            color: #9eb3ef;
            font-size: 15px;
          }
        }
        .lineW{
          height: 1px;
          background: #9eb3ef;
          flex: 1;
          margin-top: 10px;
          margin-bottom: 10px;
        }
      }
      
    }
  }

  .footer-nav {
    height: 60px;
    border-top: 1px solid rgba(255, 255, 255, 0.23);
    .footer-nav-menu {
      @include flex-box();
      height: 100%;
      span {
        color: $text-color;
        font-weight: 700;
        font-size: 16px;
      }
      .links-footer {
        display: flex;
        align-items: center;
        gap: 0.4em;
        a {
          text-decoration: none;
          color: $text-color;
          font-weight: 700;
          font-size: 16px;
        }
        .pin {
          cursor: auto;
        }
      }
    }
  }
}
