.Portfolio-Content{
    background: #fff;
    height: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    .Porfilo-menu{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

























