.RequesstPage{
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
    z-index: 1;

    &::after{
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
       background: #0C5ADB;
       width: 100%;
       height: 100%;
    }
}
