@media  (min-width:0px)  and (max-width:320px) {


}


// Extra small devices (portrait phones, less than 576px)
@media (min-width: 321px) and (max-width: 575.98px){
  
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
  
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
    .Moblie-Nav{
        display: none;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) and (max-width: 1367px) {
    .Moblie-Nav{
        display: none;
    }
}

@media (min-width: 1367px) and (max-width: 1440px) {
    .Moblie-Nav{
        display: none;
    }
}

@media (min-width: 1440px) and (max-width: 1680px) {
    .Moblie-Nav{
        display: none;
    }
}

@media (min-width: 1920px) {
    .Moblie-Nav{
        display: none;
    }
}
