// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .nav {
    display: none !important;
  }
  .banner-page {
    height: auto !important;
    padding-top: 50px;
    padding-bottom: 50px;
    .content-text {
      h1 {
        font-size: 20px !important;
      }
      p{
        font-size: 15px !important;
      }
    }
    .content-image {
      display: none;
    }
  }
  .About-menu{

    flex-wrap: wrap !important;
    .page-text{
        h2{
            font-size: 17px !important;
        }
        h1{
            font-size: 23px !important;
        }
        h3{
            font-size: 16px !important;
        }
        p{
            font-size: 14px !important;

        }
    }
  }
.page-image{
  
  .anima-image{
    display: none !important;
  }
  .back-image{
      
    margin-top: 100px !important;
    .top-pic{
      margin: auto !important;
      width: 330px !important;
flex: 1 !important;
    }
  }
}


}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  .nav {
    display: none !important;
  }
    .banner-page {
    height: auto !important;
    padding-top: 50px;
    padding-bottom: 50px;
    .content-text {
      h1 {
        font-size: 40px !important;
      }
      p{
        font-size: 16px !important;
      }
    }
    .content-image {
      display: none;
    }
  }
  
  .About-menu{

    flex-wrap: wrap !important;
    .page-text{
        h2{
            font-size: 20px !important;
        }
        h1{
            font-size: 30px !important;
        }
        h3{
            font-size: 17px !important;
        }
        p{
            font-size: 15px !important;

        }
    }
  }

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
  .nav {
    display: none !important;
  }
  .banner-page {
    height: auto !important;
    padding-top: 50px;
    padding-bottom: 50px;
    .content-text {
      h1 {
        font-size: 50px !important;
      }
      p{
        font-size: 16px !important;
      }
    }
    .content-image {
      display: none;
    }
  }
  .About-menu{

    flex-wrap: wrap !important;
    .page-text{
        h2{
            font-size: 20px !important;
        }
        h1{
            font-size: 40px !important;
        }
        h3{
            font-size: 17px !important;
        }
        p{
            font-size: 15px !important;

        }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
  .nav {
    display: none !important;
  }
  .banner-page {
    height: 60vh !important;
    
    .content-text {
      h1 {
        font-size: 60px !important;
      }
      p{
        font-size: 17px !important;
      }
    }
    .content-image {
      .pic{
        display: none !important ;
      }
      .anima{
        position: absolute !important;
        top: 0;
        left: 40% !important;
      }
    }
  }
  .About-menu{

    flex-wrap: wrap !important;
  
  }
  .top-pic{
    width:  100% !important;
    margin: auto !important;
  }
}

@media (min-width: 1199.98px) and (max-width: 1396px) {
  .nav {
    display: none !important;
  }

  .banner-page {
    height: 60vh !important;
    
    .content-text {
      h1 {
        font-size: 60px !important;
      }
      p{
        font-size: 17px !important;
      }
    }
    .content-image {
      .pic{
        position: absolute !important;
        top: 10% ;
        left: 50% !important;
        z-index: 100;
      }
      .anima{
        position: absolute !important;
        top: 10% ;
        left: 40% !important;
      }
    }
  }

  

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1396px) and (max-width: 1440px) {
  .Mobile-Navbar {
    display: none !important;
  }
  .banner-page {
    height: 60vh !important;
    
    .content-text {
      h1 {
        font-size: 60px !important;
      }
      p{
        font-size: 17px !important;
      }
    }
    .content-image {
      .pic{
        position: absolute !important;
        top: 10% ;
        left: 50% !important;
        z-index: 100;
      }
      .anima{
        position: absolute !important;
        top: 10% ;
        left: 40% !important;
      }
    }
  }

  .About-menu{

    // flex-wrap: wrap !important;
    .page-text{
        h2{
            font-size: 20px !important;
        }
        h1{
            font-size: 30px !important;
        }
        h3{
            font-size: 17px !important;
        }
        p{
            font-size: 15px !important;

        }
    }
  }


}

@media (min-width: 1440px) and (max-width: 1680px) {
  .Mobile-Navbar {
    display: none !important;
  }
  .banner-page {
    height: 60vh !important;
    
    .content-text {
      h1 {
        font-size: 60px !important;
      }
      p{
        font-size: 17px !important;
      }
    }
    .content-image {
      .pic{
        position: absolute !important;
        top: 10% ;
        left: 50% !important;
        z-index: 100;
      }
      .anima{
        position: absolute !important;
        top: 10% ;
        left: 40% !important;
      }
    }
  }
  .container{
    width: 80% !important;
    height: 100% !important;
    margin: auto !important;
}
}

@media (min-width: 1680px) and (max-width: 1920px) {
  .Mobile-Navbar {
    display: none !important;
  }
}

@media (min-width: 1920px) {
  .Mobile-Navbar {
    display: none !important;
  }
}
