$text: #fff;
.service-page-content {
  height: 200px;
  padding-top: 100px;
  padding-bottom: 100px;
  background: #eff2f7;
  position: relative;
  background-attachment: fixed !important;
  .service-text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    .text-card {
      display: flex;
      align-items: center;
      gap: 4em;
      .card {
        width: 330px;
        height: 240px;
        // border: 4px solid #fff;
        display: flex;
        gap: 1em;
        position: relative;
        .num {
          display: flex;
          // align-items: center;
          gap: 0.6em;
          span {
            color: #2a6ede;
            font-size: 20px;
            font-weight: 700;
          }
          .wt {
            height: 3px;
            width: 30px;
            background: #2a6ede;
            margin-top: 9px;
          }
        }
        .text{
           h3{
            font-size: 25px; 
            font-weight: 600;
            color: #000;
            line-height: 1.3;
            margin-bottom: 20px;
            transition: all 0.3s ease-in-out;
            &:hover{
                color: #2a6ede;
            }
           }
          p{
            font-size: 16px;
            // font-weight: 600;
            color: #616161;
            line-height: 1.4;
            margin-bottom: 30px;
          }
          span{
            color: #2a6ede;
            font-size: 18px;
            font-weight: 600;
            text-transform: capitalize;
            display: flex;
            align-items: center;
            gap: 0.3em;
            cursor: pointer;
          }
        }
      }
    }
  }
}
