$text: #fff;
$blu-text-colo:#0c5adb;
@mixin flex-box(){
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@mixin flex-boxB(){
  display: flex;
  align-items: center;
  justify-content: center;
}
.TeamMemberPage {
  height: auto;
  background: #eff2f7;
  padding-top: 100px;
  padding-bottom: 100px;

  .Team-top {
    @include flex-boxB();

    .team-top-content {
      h6 {
        letter-spacing: 0;
        color: $blu-text-colo;
        font-size: 16px;
        text-align: center;
        margin-bottom: 20px;
      }

      h1 {
        font-size: 42px;
        color: #232323;
        font-weight: 800;
        text-align: center;
      }

      .line {
        height: 5px;
        width: 90px;
        background: #cbbded;
        margin: auto;
        margin-top: 20px;
        position: relative;
        border-radius: 30px;

        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: -2.7px;
          height: 10px;
          width: 10px;
          border-radius: 50%;
          background: $blu-text-colo;
          animation: move 3s linear infinite;
        }

        &:hover::after {
          @keyframes move {
            to {
              transform: translateX(85px);
            }
          }
        }
      }
    }
  }

  .Team-down {
    @include flex-boxB();
    padding-top: 40px;

    .Team-cards {
      display: flex;
      align-items: center;
      gap: 2em;

      .cards {
        width: 330px;
        height: 470px;
        overflow: hidden;
        transition: all 0.4s ease-in-out;
        flex-direction: column;
        display: flex;
        border-radius: 10px;
        // transition: all 0.4s ease-in-out;

        &:hover {
          transform: translateY(-2px);
        }

        &:hover .card-image .links {
          transform: translateX(170px);
        }

        &:hover .card-image{
          transform: scale(1.08);
        }
        &:hover .card-image::after {
          position: absolute;
          z-index: -1;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background: rgba(12, 90, 219, 0.85);
          content: "";
          transition: all 0.4s ease-in-out;
        }
        .card-image {
          height: 80%;
          width: 100%;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          @include flex-boxB();
          transition: all 0.4s ease-in-out;
          position: relative;
          .links {
            width: 90px;
            height: 130px;
            padding: 10px;
            background: $text;
            margin: auto;
            display: flex;
            // align-items: center;
            transform: translateX(220px);
            flex-direction: column;
            transition: all 0.4s ease-in-out;

            gap: 1em;
            text-align: left;

            a {
              margin-left: 3px;
              text-decoration: none;

              i {
                color: $blu-text-colo;
              }
            }
          }
        }

        .card-text {
          height: 20%;
          background: $text;
          border-bottom: 2px solid $blu-text-colo;
          position: relative;
          @include flex-boxB();
          flex-direction: column;
          h4{
            font-size: 20px;
            font-weight: 700;
            transition:all 0.3s ease-in-out;
            color: #232323;
            margin-bottom: 4px;
            &:hover  {
                color: $blu-text-colo;
                cursor: pointer;
            }
          }
          p{
            color: $blu-text-colo;
          }
        }
      }
    }
  }
}
