@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
.nav {
  height: 80px;
  transition: all 0.3s ease-in-out;
}
.nav .nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.nav .nav-menu .nav-left .logo {
  cursor: pointer;
}
.nav .nav-menu .nav-right .right-box {
  display: flex;
  align-items: center;
  gap: 3em;
}
.nav .nav-menu .nav-right .right-box ul {
  display: flex;
  align-items: center;
  gap: 2.5em;
  transition: all 0.4s ease-in-out;
}
.nav .nav-menu .nav-right .right-box ul li {
  list-style: none;
  position: relative;
}
.nav .nav-menu .nav-right .right-box ul li:hover i {
  transform: rotate(180deg);
}
.nav .nav-menu .nav-right .right-box ul li:hover .sub-menu {
  display: flex;
}
.nav .nav-menu .nav-right .right-box ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 17px;
  font-weight: 600;
  text-transform: capitalize;
}
.nav .nav-menu .nav-right .right-box ul li i {
  color: #fff;
  margin-left: 5px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.nav .nav-menu .nav-right .right-box ul li .sub-menu {
  display: none;
}
.nav .nav-menu .nav-right .right-box ul li .sub-menu ul {
  position: absolute;
  z-index: 10;
  left: 0%;
  width: 180px;
  background: #fff;
  box-shadow: 0px 5px 10px #ccc;
  display: block;
  margin-top: 6px;
  transition: all 0.4s ease-in-out;
}
.nav .nav-menu .nav-right .right-box ul li .sub-menu ul li {
  border-bottom: 1px solid #ccc;
  margin: 15px;
  transition: all 0.4s ease-in-out;
}
.nav .nav-menu .nav-right .right-box ul li .sub-menu ul li:last-child {
  border-bottom: none;
}
.nav .nav-menu .nav-right .right-box ul li .sub-menu ul li:hover i {
  transform: rotate(-90deg);
}
.nav .nav-menu .nav-right .right-box ul li .sub-menu ul li a {
  color: #1129b9;
  font-size: 20px;
  font-weight: 500;
  transition: all 0.4s ease-in-out;
}
.nav .nav-menu .nav-right .right-box ul li .sub-menu ul li i {
  color: #1129b9;
  float: right;
  transition: all 0.4s ease-in-out;
}
.nav .nav-menu .nav-right .right-box ul li .sub-menu ul li:hover .sub-menu1 {
  display: flex;
}
.nav .nav-menu .nav-right .right-box ul li .sub-menu ul li .sub-menu1 {
  display: none;
}
.nav .nav-menu .nav-right .right-box ul li .sub-menu ul li .sub-menu1 ul {
  position: absolute;
  margin-left: 130px;
}
.nav .nav-menu .nav-right .right-box ul li .sub-menu ul li .sub-menu1 ul li:hover a {
  margin-left: 10px;
}
.nav .nav-menu .nav-right .right-box .nav-btn {
  width: 170px;
  height: 50px;
  background: #0c5adb;
  border-radius: 1.5rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  transition: all 0.5s ease-in-out;
  z-index: 1;
}
.nav .nav-menu .nav-right .right-box .nav-btn::after {
  content: "";
  top: 0;
  left: 0;
  background: #1129b9;
  transform: scale(0);
  position: absolute;
  z-index: -1;
  transition: all 0.5s ease-in-out;
  border-radius: 1.5rem 1.5rem;
}
.nav .nav-menu .nav-right .right-box .nav-btn:hover::after {
  width: 100%;
  height: 100%;
  transform: scale(1);
}
.nav .nav-menu .nav-right .right-box .nav-btn span {
  text-transform: capitalize;
  color: #fff;
  font-weight: 700;
  font-size: 17px;
}
.nav .nav-menuB {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.nav .nav-menuB .nav-left .logo {
  cursor: pointer;
}
.nav .nav-menuB .nav-right .right-box {
  display: flex;
  align-items: center;
  gap: 3em;
}
.nav .nav-menuB .nav-right .right-box ul {
  display: flex;
  align-items: center;
  gap: 2.5em;
  transition: all 0.4s ease-in-out;
}
.nav .nav-menuB .nav-right .right-box ul li {
  list-style: none;
  position: relative;
}
.nav .nav-menuB .nav-right .right-box ul li:hover i {
  transform: rotate(180deg);
}
.nav .nav-menuB .nav-right .right-box ul li:hover .sub-menu {
  display: flex;
}
.nav .nav-menuB .nav-right .right-box ul li a {
  text-decoration: none;
  color: #232323;
  font-size: 17px;
  font-weight: 600;
  text-transform: capitalize;
}
.nav .nav-menuB .nav-right .right-box ul li i {
  color: #232323;
  margin-left: 5px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.nav .nav-menuB .nav-right .right-box ul li .sub-menu {
  display: none;
}
.nav .nav-menuB .nav-right .right-box ul li .sub-menu ul {
  position: absolute;
  z-index: 10;
  left: 0%;
  width: 180px;
  background: #fff;
  box-shadow: 0px 5px 10px #ccc;
  display: block;
  margin-top: 6px;
  transition: all 0.4s ease-in-out;
}
.nav .nav-menuB .nav-right .right-box ul li .sub-menu ul li {
  border-bottom: 1px solid #ccc;
  margin: 15px;
  transition: all 0.4s ease-in-out;
}
.nav .nav-menuB .nav-right .right-box ul li .sub-menu ul li:last-child {
  border-bottom: none;
}
.nav .nav-menuB .nav-right .right-box ul li .sub-menu ul li:hover i {
  transform: rotate(-90deg);
}
.nav .nav-menuB .nav-right .right-box ul li .sub-menu ul li a {
  color: #1129b9;
  font-size: 20px;
  font-weight: 500;
  transition: all 0.4s ease-in-out;
}
.nav .nav-menuB .nav-right .right-box ul li .sub-menu ul li i {
  color: #1129b9;
  float: right;
  transition: all 0.4s ease-in-out;
}
.nav .nav-menuB .nav-right .right-box ul li .sub-menu ul li:hover .sub-menu1 {
  display: flex;
}
.nav .nav-menuB .nav-right .right-box ul li .sub-menu ul li .sub-menu1 {
  display: none;
}
.nav .nav-menuB .nav-right .right-box ul li .sub-menu ul li .sub-menu1 ul {
  position: absolute;
  margin-left: 130px;
}
.nav .nav-menuB .nav-right .right-box ul li .sub-menu ul li .sub-menu1 ul li:hover a {
  margin-left: 10px;
}
.nav .nav-menuB .nav-right .right-box .nav-btn {
  width: 170px;
  height: 50px;
  background: #0c5adb;
  border-radius: 1.5rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  transition: all 0.5s ease-in-out;
  z-index: 1;
}
.nav .nav-menuB .nav-right .right-box .nav-btn::after {
  content: "";
  top: 0;
  left: 0;
  background: #1129b9;
  transform: scale(0);
  position: absolute;
  z-index: -1;
  transition: all 0.5s ease-in-out;
  border-radius: 1.5rem 1.5rem;
}
.nav .nav-menuB .nav-right .right-box .nav-btn:hover::after {
  width: 100%;
  height: 100%;
  transform: scale(1);
}
.nav .nav-menuB .nav-right .right-box .nav-btn span {
  text-transform: capitalize;
  color: #fff;
  font-weight: 700;
  font-size: 17px;
}

.banner-page {
  height: 100vh;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-attachment: fixed;
  overflow: hidden;
  position: relative;
}
.banner-page .banner-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.banner-page .banner-content .content-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.banner-page .banner-content .content-menu .content-text h1 {
  font-size: 60px;
  font-weight: 700;
  color: #fff;
}
.banner-page .banner-content .content-menu .content-text p {
  font-size: 17px;
  color: #e8e8e8;
  font-weight: 600;
  margin-top: 30px;
  line-height: 1.6;
}
.banner-page .banner-content .content-menu .content-text .box {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2em;
  margin-top: 50px;
}
.banner-page .banner-content .content-menu .content-text .box .nav-btn {
  width: 200px;
  height: 50px;
  background: #0c5adb;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  transition: all 0.5s ease-in-out;
  z-index: 1;
}
.banner-page .banner-content .content-menu .content-text .box .nav-btn::after {
  content: "";
  left: 0;
  bottom: 0;
  background: #0c5adb;
  width: 0%;
  height: 60%;
  position: absolute;
  z-index: -1;
  transition: all 0.5s ease-in-out;
}
.banner-page .banner-content .content-menu .content-text .box .nav-btn:hover::after {
  width: 100%;
  height: 100%;
  transform: scale(1);
}
.banner-page .banner-content .content-menu .content-text .box .nav-btn span {
  text-transform: capitalize;
  color: #fff;
  font-weight: 700;
  font-size: 17px;
}
.banner-page .banner-content .content-menu .content-text .box .nav-btn span i {
  margin-left: 5px;
}
.banner-page .banner-content .content-menu .content-text .box .btn {
  width: 90px;
  height: 90px;
  background: #fff;
  color: #1129b9;
  border-radius: 50%;
  font-size: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-page .banner-content .content-menu .content-image .anima {
  position: static;
  z-index: 99;
  margin-right: -200px;
  animation: route 15s linear infinite;
}
@keyframes route {
  to {
    transform: rotate(1turn);
  }
}
.banner-page .banner-content .content-menu .content-image .pic {
  position: absolute;
  right: 10%;
}

.About-content {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
  height: auto;
}
.About-content .About-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
}
.About-content .About-menu .page-text h2 {
  font-size: 20px;
  color: #0c5adb;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.About-content .About-menu .page-text h1 {
  font-size: 40px;
  font-weight: 700;
  color: #232323;
  line-height: 1.3;
}
.About-content .About-menu .page-text .line {
  height: 5px;
  width: 90px;
  background: #cbbded;
  margin-top: 30px;
  position: relative;
  border-radius: 30px;
}
.About-content .About-menu .page-text .line::before {
  content: "";
  position: absolute;
  left: 0;
  top: -2.7px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #0c5adb;
  animation: move 3s linear infinite;
}
@keyframes move {
  to {
    transform: translateX(85px);
  }
}
.About-content .About-menu .page-text h3 {
  font-size: 20px;
  font-weight: 600;
  color: #616166;
  line-height: 1.3;
  margin-top: 40px;
}
.About-content .About-menu .page-text .text-flex {
  display: flex;
  align-items: center;
  gap: 1em;
  margin-top: 30px;
}
.About-content .About-menu .page-text .text-flex .bar {
  height: 170px;
  width: 2px;
  background: #ccc;
}
.About-content .About-menu .page-text .text-flex p {
  font-size: 15x;
  color: #616166;
  font-weight: 400;
  line-height: 1.6;
}
.About-content .About-menu .page-text .btn {
  width: 170px;
  height: 50px;
  background: #0c5adb;
  color: #fff;
  margin-top: 30px;
  margin-left: 20px;
  border-radius: 1.5rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.About-content .About-menu .page-text .btn:hover {
  background: #1129b9;
}
.About-content .About-menu .page-text .btn span {
  font-size: 17px;
  text-transform: capitalize;
  font-weight: 600;
  cursor: pointer;
}
.About-content .About-menu .page-image .anima-image {
  margin-top: 40px;
  animation: shake 3s linear infinite;
}
@keyframes shake {
  0% {
    transform: translateY(-40px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-40px);
  }
}
.About-content .About-menu .page-image .anima-image .top {
  display: flex;
  align-items: center;
  gap: 5em;
  position: relative;
  z-index: 99;
}
.About-content .About-menu .page-image .anima-image .top .mag {
  margin-top: -140px;
}
.About-content .About-menu .page-image .anima-image .top .magD {
  margin-top: 100px;
  margin-left: 140px;
}
.About-content .About-menu .page-image .anima-image .top .magT {
  margin-top: 100px;
}
.About-content .About-menu .page-image .back-image {
  position: relative;
  z-index: 999;
  margin-top: -400px;
}
.About-content .About-menu .page-image .back-image .top-pic {
  width: 80%;
  height: 280px;
  margin-left: 90px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.About-content .About-menu .page-image .back-image .top-pic .icon {
  width: 90px;
  height: 90px;
  background: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1129b9;
  font-size: 20px;
  cursor: pointer;
}

.service-page-content {
  height: 200px;
  padding-top: 100px;
  padding-bottom: 100px;
  background: #eff2f7;
  position: relative;
  background-attachment: fixed !important;
}
.service-page-content .service-text {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.service-page-content .service-text .text-card {
  display: flex;
  align-items: center;
  gap: 4em;
}
.service-page-content .service-text .text-card .card {
  width: 330px;
  height: 240px;
  display: flex;
  gap: 1em;
  position: relative;
}
.service-page-content .service-text .text-card .card .num {
  display: flex;
  gap: 0.6em;
}
.service-page-content .service-text .text-card .card .num span {
  color: #2a6ede;
  font-size: 20px;
  font-weight: 700;
}
.service-page-content .service-text .text-card .card .num .wt {
  height: 3px;
  width: 30px;
  background: #2a6ede;
  margin-top: 9px;
}
.service-page-content .service-text .text-card .card .text h3 {
  font-size: 25px;
  font-weight: 600;
  color: #000;
  line-height: 1.3;
  margin-bottom: 20px;
  transition: all 0.3s ease-in-out;
}
.service-page-content .service-text .text-card .card .text h3:hover {
  color: #2a6ede;
}
.service-page-content .service-text .text-card .card .text p {
  font-size: 16px;
  color: #616161;
  line-height: 1.4;
  margin-bottom: 30px;
}
.service-page-content .service-text .text-card .card .text span {
  color: #2a6ede;
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  gap: 0.3em;
  cursor: pointer;
}

.Tap-Page {
  height: 400px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed !important;
  position: relative;
  padding-top: 100px;
}
.Tap-Page .Tap-content .Tap-text {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Tap-Page .Tap-content .Tap-text .text-content h3 {
  font-size: 20px;
  color: #fff;
  font-weight: 500;
  margin-bottom: 20px;
  text-align: center;
}
.Tap-Page .Tap-content .Tap-text .text-content h1 {
  color: #fff;
  font-size: 42px;
  font-weight: 600;
  text-align: center;
}
.Tap-Page .Tap-content .Tap-text .text-content .line {
  height: 5px;
  width: 90px;
  background: #cbbded;
  margin: auto;
  margin-top: 30px;
  position: relative;
  border-radius: 30px;
}
.Tap-Page .Tap-content .Tap-text .text-content .line::before {
  content: "";
  position: absolute;
  left: 0;
  top: -2.7px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #0c5adb;
  animation: move 3s linear infinite;
}
@keyframes move {
  to {
    transform: translateX(85px);
  }
}
.Tap-Page .Tap-content .Tap-text .text-content p {
  font-size: 17px;
  text-align: center;
  line-height: 1.5;
  font-weight: 400;
  color: #fff;
  text-align: center;
  margin-top: 20px;
}

.sub-page {
  height: auto;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 100px;
  background: #fff;
}
.sub-page .main-box-sub {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sub-page .main-box-sub .sub-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sub-page .main-box-sub .sub-content .card-item-box {
  display: flex;
  align-items: center;
  gap: 1em;
}
.sub-page .main-box-sub .sub-content .card-item-box .card {
  width: 260px;
  height: 90px;
  padding: 10px;
  border: 1px solid #0c5adb !important;
  background: #0c5adb;
  border-radius: 5px;
  font-size: 20px;
  color: #fff;
  position: relative;
  z-index: 99;
  margin-top: -210px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 0.4s ease-in-out;
}
.sub-page .main-box-sub .sub-content .card-item-box .card span {
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 15px;
}
.sub-page .main-box-sub .sub-content .card-item-box .active {
  border: 1px solid #fff !important;
  background: #fff;
  color: #0c5adb;
}
.sub-page .card-body {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
}
.sub-page .card-body .card-left img {
  width: 490px;
  height: 400px;
  max-width: 100% !important;
}
.sub-page .card-body .card-right {
  width: 40%;
}
.sub-page .card-body .card-right h4 {
  color: #232323;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 30px;
}
.sub-page .card-body .card-right p {
  margin-bottom: 20px;
  line-height: 1.5;
  color: #616161;
  font-weight: 500;
  font-size: 15px;
}
.sub-page .card-body .card-right .flb span {
  display: flex;
  align-items: center;
  gap: 0.3em;
  color: #616161;
  margin-bottom: 10px;
}
.sub-page .card-body .card-right .buttons {
  display: flex;
  align-items: center;
  gap: 1em;
  margin-top: 20px;
}
.sub-page .card-body .card-right .buttons .btnA {
  background: #0c5adb;
  width: 160px;
  height: 50px;
  font-size: 18px;
  font-weight: 500;
  transition: 0.5s;
  position: relative;
  z-index: 1;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4em;
  text-transform: capitalize;
  transition: 0.4s ease-in-out;
}
.sub-page .card-body .card-right .buttons .btnA::after {
  content: "";
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: #00247E;
  border-radius: 5px;
  width: 0%;
  position: absolute;
  z-index: -1;
  transition: 0.4s ease-in-out;
}
.sub-page .card-body .card-right .buttons .btnA:hover::after {
  width: 100%;
  height: 100%;
}
.sub-page .card-body .card-right .buttons .btnB {
  background: #00247E;
  width: 160px;
  height: 50px;
  font-size: 18px;
  font-weight: 500;
  transition: 0.5s;
  position: relative;
  z-index: 1;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4em;
  text-transform: capitalize;
  transition: 0.4s ease-in-out;
}
.sub-page .card-body .card-right .buttons .btnB::after {
  content: "";
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: #0c5adb;
  border-radius: 5px;
  width: 0%;
  position: absolute;
  z-index: -1;
  transition: 0.4s ease-in-out;
}
.sub-page .card-body .card-right .buttons .btnB:hover::after {
  width: 100%;
  height: 100%;
}

.choosePage {
  height: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-attachment: fixed !important;
}
.choosePage .choose-content {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.choosePage .choose-content .choose h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
}
.choosePage .choose-content .choose h1 {
  color: #fff;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 15px;
}
.choosePage .choose-content .choose .line {
  height: 5px;
  width: 90px;
  background: #cbbded;
  margin: auto;
  position: relative;
  border-radius: 30px;
}
.choosePage .choose-content .choose .line::before {
  content: "";
  position: absolute;
  left: 0;
  top: -2.7px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #0c5adb;
  animation: move 3s linear infinite;
}
@keyframes move {
  to {
    transform: translateX(85px);
  }
}
.choosePage .choose-content .choose .card-page {
  display: flex;
  align-items: center;
  gap: 2em;
  margin-top: 40px;
}
.choosePage .choose-content .choose .card-page .card {
  height: 320px;
  width: 290px;
  background: #00a3ff;
  position: relative;
  border-radius: 5px;
  transition: all 0.4s ease-in-out;
  text-align: center;
  max-width: 100%;
  padding: 20px;
  color: #fff;
  cursor: pointer;
  z-index: 1;
}
.choosePage .choose-content .choose .card-page .card:hover {
  transform: translateY(10px);
}
.choosePage .choose-content .choose .card-page .card::after {
  content: "";
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(12, 91, 219, 0.662745098);
  position: absolute;
  width: 100%;
  height: 100%;
}
.choosePage .choose-content .choose .card-page .card span {
  font-size: 30px;
  transition: all 0.4s ease-in-out;
}
.choosePage .choose-content .choose .card-page .card h2 {
  font-size: 23px;
  color: #fff;
  margin-top: 15px;
  display: flex;
  align-items: center;
}
.choosePage .choose-content .choose .card-page .card p {
  margin-top: 20px;
  line-height: 1.5;
}
.choosePage .choose-content .choose .card-page .card .btn {
  width: 100px;
  height: 40px;
  background: #fff;
  transition: all 0.4s ease-in-out;
  color: blue;
  margin: auto;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  border-radius: 5px;
}
.choosePage .choose-content .choose .card-page .card .btn:hover {
  background: #0c5adb;
  color: #fff;
}

.Portfolio-Content {
  background: #fff;
  height: auto;
  padding-top: 50px;
  padding-bottom: 100px;
}
.Portfolio-Content .Porfilo-top {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Portfolio-Content .Porfilo-top .port-context-top h5 {
  letter-spacing: 0;
  color: #0c5adb;
  font-size: 16px;
  font-size: 15px;
  text-align: center;
  margin-bottom: 20px;
}
.Portfolio-Content .Porfilo-top .port-context-top h1 {
  color: #232323;
  font-size: 40px;
  text-align: center;
}
.Portfolio-Content .Porfilo-top .port-context-top .line {
  height: 5px;
  width: 90px;
  background: #cbbded;
  margin: auto;
  margin-top: 30px;
  position: relative;
  border-radius: 30px;
}
.Portfolio-Content .Porfilo-top .port-context-top .line::before {
  content: "";
  position: absolute;
  left: 0;
  top: -2.7px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #0c5adb;
  animation: move 3s linear infinite;
}
@keyframes move {
  to {
    transform: translateX(85px);
  }
}
.Portfolio-Content .Porfilo-top .port-context-top .card-box {
  display: flex;
  align-items: center;
  gap: 1em;
  margin-top: 30px;
}
.Portfolio-Content .Porfilo-top .port-context-top .card-box .card {
  background: #f2f4ff;
  border: medium none;
  font-size: 16px;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  text-transform: capitalize;
  padding: 12px 27px;
  font-weight: 500;
  letter-spacing: 2px;
  border-radius: 5px;
}
.Portfolio-Content .Porfilo-top .port-context-top .card-box .card:hover {
  color: #fff;
  background: linear-gradient(to right, #2475fc, #1129b9);
}
.Portfolio-Content .Porfilo-top .port-context-top .card-box .card:hover span {
  color: #fff;
}
.Portfolio-Content .Porfilo-top .port-context-top .card-box .active {
  color: #fff;
  background: linear-gradient(to left, #2475fc, #1129b9);
}
.Portfolio-Content .Porfilo-down {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  padding-top: 40px;
}
.Portfolio-Content .Porfilo-down .card-down {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  transition: all 0.4s ease-in-out;
  gap: 2em;
}
.Portfolio-Content .Porfilo-down .card-down .image-card {
  width: 350px;
  height: 408px;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
}
.Portfolio-Content .Porfilo-down .card-down .image-card:hover .body {
  transform: scale(1.08);
  cursor: pointer;
}
.Portfolio-Content .Porfilo-down .card-down .image-card .body {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  transition: all 0.4s ease-in-out;
  position: relative;
  display: flex;
}
.Portfolio-Content .Porfilo-down .card-down .image-card .body:hover .body-box {
  transform: translateY(-300px);
}
.Portfolio-Content .Porfilo-down .card-down .image-card .body .body-box {
  text-align: center;
  width: 290px;
  height: 150px;
  background: #0c5adb;
  margin: auto;
  border-radius: 5px;
  transition: all 0.4s ease-in-out;
  margin-top: 430px;
  cursor: auto;
}
.Portfolio-Content .Porfilo-down .card-down .image-card .body .body-box:hover span {
  cursor: pointer;
}
.Portfolio-Content .Porfilo-down .card-down .image-card .body .body-box span {
  width: 30px;
  height: 30px;
  background: #fff;
  color: #2475fc;
  margin: auto;
  border-radius: 3px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Portfolio-Content .Porfilo-down .card-down .image-card .body .body-box p {
  font-size: 15px;
  color: #fff;
  font-size: 500;
  margin-top: 15px;
}
.Portfolio-Content .Porfilo-down .card-down .image-card .body .body-box h3 {
  font-size: 20px;
  color: #fff;
  font-size: 500;
  margin-top: 13px;
}

.ContactPage {
  height: auto;
  padding-top: 100px;
  padding-bottom: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.ContactPage .contact-page-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ContactPage .contact-page-menu .contactpage-top h4 {
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 10px;
}
.ContactPage .contact-page-menu .contactpage-top h1 {
  color: #fff;
  font-size: 42px;
  font-weight: 800;
  text-align: center;
  line-height: 1;
}
.ContactPage .contact-page-menu .contactpage-top .line {
  height: 5px;
  width: 90px;
  background: #cbbded;
  margin: auto;
  margin-top: 20px;
  position: relative;
  border-radius: 30px;
}
.ContactPage .contact-page-menu .contactpage-top .line::before {
  content: "";
  position: absolute;
  left: 0;
  top: -2.7px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #0c5adb;
  animation: move 3s linear infinite;
}
@keyframes move {
  to {
    transform: translateX(85px);
  }
}
.ContactPage .contact-page-menu .contactpage-down .input-page {
  display: flex;
  align-items: center;
  gap: 2em;
  margin-top: 40px;
  flex-wrap: wrap;
}
.ContactPage .contact-page-menu .contactpage-down .input-page input {
  width: 500px;
  height: 50px;
  padding-left: 15px;
  background: transparent;
  border: 1px solid #fff;
  outline: none;
  border-radius: 5px;
  color: #fff;
}
.ContactPage .contact-page-menu .contactpage-down .input-page :focus:hover {
  outline: 1px solid #fff;
}
.ContactPage .contact-page-menu .contactpage-down .input-page ::-moz-placeholder {
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  text-transform: capitalize;
}
.ContactPage .contact-page-menu .contactpage-down .input-page ::placeholder {
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  text-transform: capitalize;
}
.ContactPage .contact-page-menu .contactpage-down .text-area {
  margin-top: 30px;
}
.ContactPage .contact-page-menu .contactpage-down .text-area textarea {
  background: transparent;
  padding-left: 15px;
  padding-top: 20px;
  height: 250px;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
  outline: none;
}
.ContactPage .contact-page-menu .contactpage-down .text-area :focus:hover {
  outline: 1px solid #fff;
}
.ContactPage .contact-page-menu .contactpage-down .text-area ::-moz-placeholder {
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  text-transform: capitalize;
}
.ContactPage .contact-page-menu .contactpage-down .text-area ::placeholder {
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  text-transform: capitalize;
}
.ContactPage .contact-page-menu .contactpage-down .btn-a {
  width: 190px;
  height: 50px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  border-radius: 5px;
  margin-top: 30px;
  text-transform: capitalize;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.ContactPage .contact-page-menu .contactpage-down .btn-a:hover {
  color: #fff;
}
.ContactPage .contact-page-menu .contactpage-down .btn-a::after {
  content: "";
  top: 0;
  left: 0;
  background: #1129b9;
  transform: scale(0);
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}
.ContactPage .contact-page-menu .contactpage-down .btn-a:hover::after {
  width: 100%;
  height: 100%;
  transform: scale(1);
}

.TeamMemberPage {
  height: auto;
  background: #eff2f7;
  padding-top: 100px;
  padding-bottom: 100px;
}
.TeamMemberPage .Team-top {
  display: flex;
  align-items: center;
  justify-content: center;
}
.TeamMemberPage .Team-top .team-top-content h6 {
  letter-spacing: 0;
  color: #0c5adb;
  font-size: 16px;
  text-align: center;
  margin-bottom: 20px;
}
.TeamMemberPage .Team-top .team-top-content h1 {
  font-size: 42px;
  color: #232323;
  font-weight: 800;
  text-align: center;
}
.TeamMemberPage .Team-top .team-top-content .line {
  height: 5px;
  width: 90px;
  background: #cbbded;
  margin: auto;
  margin-top: 20px;
  position: relative;
  border-radius: 30px;
}
.TeamMemberPage .Team-top .team-top-content .line::before {
  content: "";
  position: absolute;
  left: 0;
  top: -2.7px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #0c5adb;
  animation: move 3s linear infinite;
}
@keyframes move {
  to {
    transform: translateX(85px);
  }
}
.TeamMemberPage .Team-down {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
}
.TeamMemberPage .Team-down .Team-cards {
  display: flex;
  align-items: center;
  gap: 2em;
}
.TeamMemberPage .Team-down .Team-cards .cards {
  width: 330px;
  height: 470px;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
  flex-direction: column;
  display: flex;
  border-radius: 10px;
}
.TeamMemberPage .Team-down .Team-cards .cards:hover {
  transform: translateY(-2px);
}
.TeamMemberPage .Team-down .Team-cards .cards:hover .card-image .links {
  transform: translateX(170px);
}
.TeamMemberPage .Team-down .Team-cards .cards:hover .card-image {
  transform: scale(1.08);
}
.TeamMemberPage .Team-down .Team-cards .cards:hover .card-image::after {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(12, 90, 219, 0.85);
  content: "";
  transition: all 0.4s ease-in-out;
}
.TeamMemberPage .Team-down .Team-cards .cards .card-image {
  height: 80%;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease-in-out;
  position: relative;
}
.TeamMemberPage .Team-down .Team-cards .cards .card-image .links {
  width: 90px;
  height: 130px;
  padding: 10px;
  background: #fff;
  margin: auto;
  display: flex;
  transform: translateX(220px);
  flex-direction: column;
  transition: all 0.4s ease-in-out;
  gap: 1em;
  text-align: left;
}
.TeamMemberPage .Team-down .Team-cards .cards .card-image .links a {
  margin-left: 3px;
  text-decoration: none;
}
.TeamMemberPage .Team-down .Team-cards .cards .card-image .links a i {
  color: #0c5adb;
}
.TeamMemberPage .Team-down .Team-cards .cards .card-text {
  height: 20%;
  background: #fff;
  border-bottom: 2px solid #0c5adb;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.TeamMemberPage .Team-down .Team-cards .cards .card-text h4 {
  font-size: 20px;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
  color: #232323;
  margin-bottom: 4px;
}
.TeamMemberPage .Team-down .Team-cards .cards .card-text h4:hover {
  color: #0c5adb;
  cursor: pointer;
}
.TeamMemberPage .Team-down .Team-cards .cards .card-text p {
  color: #0c5adb;
}

.RequesstPage {
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 200px;
  position: relative;
}
.RequesstPage::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background: #0c5adb;
  width: 100%;
  height: 100%;
}
.RequesstPage .Request-page-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.RequesstPage .Request-page-content .Request-content h4 {
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 20px;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}
.RequesstPage .Request-page-content .Request-content h1 {
  font-weight: 500;
  font-size: 40px;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
}
.RequesstPage .Request-page-content .Request-content .btn {
  background: #fff;
  width: 200px;
  height: 50px;
  color: #0c5adb;
  margin: auto;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
.RequesstPage .Request-page-content .Request-content .btn:hover a {
  color: #fff;
}
.RequesstPage .Request-page-content .Request-content .btn:hover a i {
  color: #fff;
}
.RequesstPage .Request-page-content .Request-content .btn::after {
  content: "";
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: -1;
  transition: all 0.4s ease-in-out;
  width: 0%;
  height: 0%;
  background: #1129b9;
  border-radius: 3px;
}
.RequesstPage .Request-page-content .Request-content .btn:hover::after {
  width: 100%;
  height: 100%;
}
.RequesstPage .Request-page-content .Request-content .btn a {
  text-decoration: none;
  color: #0c5adb;
  transition: all 0.4s ease-in-out;
}
.RequesstPage .Request-page-content .Request-content .btn a i {
  color: #0c5adb;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
}

.footer_Page .sub-content-page .sub-footer-right, .footer_Page .sub-content-page .sub-footer-left {
  display: flex;
  gap: 2em;
}

.Subscribe-Page {
  height: auto;
  background: #0C5ADB;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Subscribe-Page .sub-page-text h2 {
  font-size: 32px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 30px;
  text-align: center;
}
.Subscribe-Page .sub-page-text .box-sub {
  background: #fff;
  width: 50%;
  height: 80px;
  margin: auto;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 2em;
}
.Subscribe-Page .sub-page-text .box-sub input {
  font-size: 14px;
  height: 40px;
  padding: 5px 25px;
  flex: 1;
  width: 28vw;
  background: #f6f6fc;
  border-radius: 40px;
  border: none !important;
  outline: none !important;
  transition: all 0.1s ease-in-out;
}
.Subscribe-Page .sub-page-text .box-sub input:focus:hover {
  outline: 3px solid #c9e3ff !important;
}
.Subscribe-Page .sub-page-text .box-sub ::-moz-placeholder {
  font-size: 13px;
  text-transform: capitalize;
}
.Subscribe-Page .sub-page-text .box-sub ::placeholder {
  font-size: 13px;
  text-transform: capitalize;
}
.Subscribe-Page .sub-page-text .btnA {
  width: 150px;
  height: 40px;
  background: #0c5adb;
  border-radius: 1.5rem 1.5rem 1.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease-in-out;
}
.Subscribe-Page .sub-page-text .btnA:hover {
  background: #0C5ADB;
  border-radius: 1.5rem 1.5rem 1.5rem;
}
.Subscribe-Page .sub-page-text .btnA:hover span {
  color: #fff;
}
.Subscribe-Page .sub-page-text .btnA span {
  color: #0C5ADB;
  font-weight: 700;
  transition: all 0.4s ease-in-out;
  color: #fff;
}

.footer_Page .sub-content-page .sub-footer-right, .footer_Page .sub-content-page .sub-footer-left {
  display: flex;
  gap: 3em;
}

.footer_Page {
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 50px;
}
.footer_Page .sub-content-page {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  gap: 7em;
  padding-bottom: 100px;
}
.footer_Page .sub-content-page .sub-footer-left .sub-footer-leftA .forter-logo {
  cursor: pointer;
  margin-bottom: 30px;
}
.footer_Page .sub-content-page .sub-footer-left .sub-footer-leftA .p-text {
  margin-bottom: 20px;
}
.footer_Page .sub-content-page .sub-footer-left .sub-footer-leftA .p-text p {
  color: #fff;
  font-weight: 400;
  line-height: 1.5;
  font-style: normal;
}
.footer_Page .sub-content-page .sub-footer-left .sub-footer-leftA .fot-flex {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.footer_Page .sub-content-page .sub-footer-left .sub-footer-leftA .fot-flex span {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.footer_Page .sub-content-page .sub-footer-left .sub-footer-leftA .fot-flex span:hover {
  color: #0c5adb;
}
.footer_Page .sub-content-page .sub-footer-left .sub-footer-leftA .fot-flex .icons-flex {
  display: flex;
  align-items: center;
  gap: 0.7em;
}
.footer_Page .sub-content-page .sub-footer-left .sub-footer-leftA .fot-flex .icons-flex a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  height: 40px;
  width: 40px;
  background: #187dff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.footer_Page .sub-content-page .sub-footer-left .sub-footer-leftA .fot-flex .icons-flex a i {
  cursor: pointer;
  font-size: 20px;
  transition: all 0.4s ease-in-out;
}
.footer_Page .sub-content-page .sub-footer-left .sub-footer-leftA .fot-flex .icons-flex a i:hover {
  color: #efefef;
}
.footer_Page .sub-content-page .sub-footer-left .sub-footer-leftB .heading h3 {
  color: #fff;
  font-size: 22px;
  margin-bottom: 20px;
}
.footer_Page .sub-content-page .sub-footer-left .sub-footer-leftB span {
  display: flex;
  align-items: center;
  gap: 0.7em;
  margin-top: 5px;
  color: #fff;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}
.footer_Page .sub-content-page .sub-footer-left .sub-footer-leftB span:hover {
  color: #0c5adb;
}
.footer_Page .sub-content-page .sub-footer-left .sub-footer-leftB span p {
  width: 8px;
  height: 2px;
  background: #fff;
}
.footer_Page .sub-content-page .sub-footer-right .sub-footer-right1 .headings h3 {
  color: #fff;
  font-size: 22px;
  margin-bottom: 20px;
}
.footer_Page .sub-content-page .sub-footer-right .sub-footer-right1 .My-Box {
  display: flex;
  align-items: center;
  gap: 1em;
}
.footer_Page .sub-content-page .sub-footer-right .sub-footer-right1 .My-Box h3 {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 15px;
}
.footer_Page .sub-content-page .sub-footer-right .sub-footer-right1 .My-Box p {
  color: #9eb3ef;
  font-size: 15px;
}
.footer_Page .sub-content-page .sub-footer-right .sub-footer-right1 .lineW {
  height: 1px;
  background: #9eb3ef;
  flex: 1;
  margin-top: 10px;
  margin-bottom: 10px;
}
.footer_Page .sub-content-page .sub-footer-right .sub-footer-right2 h3 {
  color: #fff;
  font-size: 22px;
  margin-bottom: 20px;
}
.footer_Page .sub-content-page .sub-footer-right .sub-footer-right2 .right2-flex {
  display: flex;
  align-items: center;
  gap: 1em;
  margin-bottom: 15px;
}
.footer_Page .sub-content-page .sub-footer-right .sub-footer-right2 .right2-flex .icon-flex {
  width: 38px;
  height: 38px;
  line-height: 40px;
  background: #3d65de;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
}
.footer_Page .sub-content-page .sub-footer-right .sub-footer-right2 .right2-flex .icon-text {
  line-height: 1.5;
}
.footer_Page .sub-content-page .sub-footer-right .sub-footer-right2 .right2-flex .icon-text h2 {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}
.footer_Page .sub-content-page .sub-footer-right .sub-footer-right2 .right2-flex .icon-text p {
  color: #9EB3EF;
  font-size: 15px;
}
.footer_Page .footer-nav {
  height: 60px;
  border-top: 1px solid rgba(255, 255, 255, 0.23);
}
.footer_Page .footer-nav .footer-nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.footer_Page .footer-nav .footer-nav-menu span {
  color: #fff;
  font-weight: 700;
  font-size: 16px;
}
.footer_Page .footer-nav .footer-nav-menu .links-footer {
  display: flex;
  align-items: center;
  gap: 0.4em;
}
.footer_Page .footer-nav .footer-nav-menu .links-footer a {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
}
.footer_Page .footer-nav .footer-nav-menu .links-footer .pin {
  cursor: auto;
}

.Moblie-Nav .Mobile-Links .link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Moblie-Nav .Mobile-Navbar {
  height: 40px;
  background: #0c5adb;
  padding: 10px;
}
.Moblie-Nav .Mobile-Navbar .mb-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.Moblie-Nav .Mobile-Navbar .mb-menu h1 {
  color: #fff;
  font-size: 23px;
  font-weight: 700;
  cursor: pointer;
}
.Moblie-Nav .Mobile-Navbar .mb-menu .icons-box .Icon {
  color: #fff;
  font-size: 30px;
  cursor: pointer;
}
.Moblie-Nav .Mobile-Links {
  height: auto;
  flex: 1;
  background: #f8f8f8;
  padding-bottom: 5px;
  position: absolute;
  z-index: 9999 !important;
  width: 100% !important;
}
.Moblie-Nav .Mobile-Links .link {
  text-decoration: none;
  height: 20px;
  padding: 12px;
  color: #232323;
  text-transform: capitalize;
  padding-left: 20px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
}
.Moblie-Nav .Mobile-Links .link h3 {
  font-size: 15px;
  font-weight: 200;
}
.Moblie-Nav .Mobile-Links .link:last-child {
  border-bottom: none;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

@media (max-width: 575.98px) {
  .nav {
    display: none !important;
  }
  .banner-page {
    height: auto !important;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .banner-page .content-text h1 {
    font-size: 20px !important;
  }
  .banner-page .content-text p {
    font-size: 15px !important;
  }
  .banner-page .content-image {
    display: none;
  }
  .About-content {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
  .About-menu {
    flex-wrap: wrap !important;
  }
  .About-menu .page-text h2 {
    font-size: 17px !important;
  }
  .About-menu .page-text h1 {
    font-size: 23px !important;
  }
  .About-menu .page-text h3 {
    font-size: 16px !important;
  }
  .About-menu .page-text p {
    font-size: 14px !important;
  }
  .page-image .anima-image {
    display: none !important;
  }
  .page-image .back-image {
    margin-top: 100px !important;
  }
  .page-image .back-image .top-pic {
    margin: auto !important;
    width: 330px !important;
    flex: 1 !important;
  }
  .service-page-content {
    height: auto !important;
  }
  .service-page-content .service-text .text-card {
    flex-wrap: wrap !important;
  }
  .Tap-Page {
    height: 400px !important;
  }
  .Tap-Page .Tap-text h3 {
    font-size: 15px !important;
  }
  .Tap-Page .Tap-text h1 {
    font-size: 25px !important;
  }
  .Tap-Page .Tap-text p {
    font-size: 13px !important;
  }
  .sub-page .card-item-box {
    flex-direction: column !important;
    transform: translateY(300px);
  }
  .sub-page .card-body {
    flex-direction: column !important;
    margin-top: 270px !important;
  }
  .sub-page .card-body .card-right {
    width: 100% !important;
  }
  .sub-page .card-body .btnA {
    font-size: 14px !important;
  }
  .sub-page .card-body .btnB {
    font-size: 14px !important;
  }
  .choosePage .choose-content h3 {
    font-size: 15px !important;
  }
  .choosePage .choose-content h1 {
    font-size: 18px !important;
  }
  .card-page {
    flex-wrap: wrap !important;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .nav {
    display: none !important;
  }
  .banner-page {
    height: auto !important;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .banner-page .content-text h1 {
    font-size: 40px !important;
  }
  .banner-page .content-text p {
    font-size: 16px !important;
  }
  .banner-page .content-image {
    display: none;
  }
  .About-menu {
    flex-wrap: wrap !important;
  }
  .About-menu .page-text h2 {
    font-size: 20px !important;
  }
  .About-menu .page-text h1 {
    font-size: 30px !important;
  }
  .About-menu .page-text h3 {
    font-size: 17px !important;
  }
  .About-menu .page-text p {
    font-size: 15px !important;
  }
  .service-page-content {
    height: auto !important;
  }
  .service-page-content .service-text .text-card {
    flex-wrap: wrap !important;
  }
  .Tap-Page {
    height: 400px !important;
  }
  .Tap-Page .Tap-text h1 {
    font-size: 30px !important;
  }
  .sub-page .card-item-box {
    flex-direction: column !important;
    transform: translateY(300px);
  }
  .sub-page .card-item-box .card {
    width: 460px !important;
  }
  .sub-page .card-body {
    flex-direction: column !important;
    margin-top: 270px !important;
  }
  .sub-page .card-body .card-right {
    width: 100% !important;
  }
  .choosePage {
    padding-left: 50px !important;
    padding-right: 50px !important;
  }
  .card-page {
    flex-wrap: wrap !important;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .nav {
    display: none !important;
  }
  .banner-page {
    height: auto !important;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .banner-page .content-text h1 {
    font-size: 50px !important;
  }
  .banner-page .content-text p {
    font-size: 16px !important;
  }
  .banner-page .content-image {
    display: none;
  }
  .About-menu {
    flex-wrap: wrap !important;
  }
  .About-menu .page-text h2 {
    font-size: 20px !important;
  }
  .About-menu .page-text h1 {
    font-size: 40px !important;
  }
  .About-menu .page-text h3 {
    font-size: 17px !important;
  }
  .About-menu .page-text p {
    font-size: 15px !important;
  }
  .service-page-content {
    height: auto !important;
  }
  .service-page-content .service-text .text-card {
    flex-wrap: wrap !important;
  }
  .sub-page .card-item-box .card {
    width: 130px !important;
    text-align: center !important;
  }
  .sub-page .card-item-box .card h4 {
    font-size: 14px !important;
  }
  .sub-page .card-body {
    flex-direction: column !important;
  }
  .sub-page .card-body .card-right {
    width: 100% !important;
  }
  .card-page {
    flex-wrap: wrap !important;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .Mobile-Links {
    display: none;
  }
  .nav {
    display: none !important;
  }
  .banner-page {
    height: 60vh !important;
  }
  .banner-page .content-text h1 {
    font-size: 60px !important;
  }
  .banner-page .content-text p {
    font-size: 17px !important;
  }
  .banner-page .content-image .pic {
    display: none !important;
  }
  .banner-page .content-image .anima {
    position: absolute !important;
    top: 0;
    left: 40% !important;
  }
  .About-menu {
    flex-wrap: wrap !important;
  }
  .top-pic {
    width: 100% !important;
    margin: auto !important;
  }
  .sub-page .card-item-box .card {
    width: 200px !important;
    text-align: center !important;
  }
  .sub-page .card-item-box .card h4 {
    font-size: 16px !important;
  }
  .sub-page .card-body .card-right {
    width: 100% !important;
  }
}
@media (min-width: 1199.98px) and (max-width: 1396px) {
  .nav {
    display: none !important;
  }
  .banner-page {
    height: 60vh !important;
  }
  .banner-page .content-text h1 {
    font-size: 60px !important;
  }
  .banner-page .content-text p {
    font-size: 17px !important;
  }
  .banner-page .content-image .pic {
    position: absolute !important;
    top: 10%;
    left: 50% !important;
    z-index: 100;
  }
  .banner-page .content-image .anima {
    position: absolute !important;
    top: 10%;
    left: 40% !important;
  }
}
@media (min-width: 1396px) and (max-width: 1440px) {
  .Mobile-Navbar {
    display: none !important;
  }
  .banner-page {
    height: 60vh !important;
  }
  .banner-page .content-text h1 {
    font-size: 60px !important;
  }
  .banner-page .content-text p {
    font-size: 17px !important;
  }
  .banner-page .content-image .pic {
    position: absolute !important;
    top: 10%;
    left: 50% !important;
    z-index: 100;
  }
  .banner-page .content-image .anima {
    position: absolute !important;
    top: 10%;
    left: 40% !important;
  }
  .About-menu .page-text h2 {
    font-size: 20px !important;
  }
  .About-menu .page-text h1 {
    font-size: 30px !important;
  }
  .About-menu .page-text h3 {
    font-size: 17px !important;
  }
  .About-menu .page-text p {
    font-size: 15px !important;
  }
}
@media (min-width: 1440px) and (max-width: 1680px) {
  .Mobile-Navbar {
    display: none !important;
  }
  .banner-page {
    height: 60vh !important;
  }
  .banner-page .content-text h1 {
    font-size: 60px !important;
  }
  .banner-page .content-text p {
    font-size: 17px !important;
  }
  .banner-page .content-image .pic {
    position: absolute !important;
    top: 10%;
    left: 50% !important;
    z-index: 100;
  }
  .banner-page .content-image .anima {
    position: absolute !important;
    top: 10%;
    left: 40% !important;
  }
  .container {
    width: 80% !important;
    height: 100% !important;
    margin: auto !important;
  }
}
@media (min-width: 1680px) and (max-width: 1920px) {
  .Mobile-Navbar {
    display: none !important;
  }
}
@media (min-width: 1920px) {
  .Mobile-Navbar {
    display: none !important;
  }
}
* {
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}

.container {
  width: 70%;
  height: 100%;
  margin: auto;
}/*# sourceMappingURL=Style.css.map */