@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
.nav {
  height: 80px;
}
.nav .nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.nav .nav-menu .nav-left .logo {
  cursor: pointer;
}
.nav .nav-menu .nav-right .right-box {
  display: flex;
  align-items: center;
  gap: 3em;
}
.nav .nav-menu .nav-right .right-box .nav-links {
  transition: all 0.4s ease-in-out;
}
.nav .nav-menu .nav-right .right-box .nav-links ul {
  display: flex;
  align-items: center;
  gap: 2em;
  transition: all 0.4s ease-in-out;
}
.nav .nav-menu .nav-right .right-box .nav-links ul li {
  list-style: none;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  gap: 0.2em;
}
.nav .nav-menu .nav-right .right-box .nav-links ul li:hover i {
  transform: rotate(180deg);
  cursor: pointer;
}
.nav .nav-menu .nav-right .right-box .nav-links ul li i {
  color: #fff;
  transition: all 0.4s ease-in-out;
}
.nav .nav-menu .nav-right .right-box .nav-links ul li a {
  text-decoration: none;
  text-transform: capitalize;
  color: #fff;
  font-weight: 600;
  font-size: 17px;
  transition: all 0.4s ease-in-out;
}
.nav .nav-menu .nav-right .right-box .nav-links ul li:hover .sub-menu1 {
  display: flex;
}
.nav .nav-menu .nav-right .right-box .nav-links ul li:hover .sub-menu1 ul li:last-child {
  border-bottom: none;
}
.nav .nav-menu .nav-right .right-box .nav-links ul li:hover .sub-menu1 ul li a:hover {
  color: blue;
  transform: translateX(10px);
}
.nav .nav-menu .nav-right .right-box .nav-links ul li .sub-menu1 {
  display: none;
  background: #fff;
  transition: all 0.4s ease-in-out;
  padding: 10px;
  position: absolute;
  margin-top: 15%;
}
.nav .nav-menu .nav-right .right-box .nav-links ul li .sub-menu1 ul {
  display: block;
}
.nav .nav-menu .nav-right .right-box .nav-links ul li .sub-menu1 ul li {
  border: 0;
  padding: 10px 20px;
  font-size: 15px;
  text-align: left;
  color: #333 !important;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav .nav-menu .nav-right .right-box .nav-links ul li .sub-menu1 ul li:hover i {
  color: blue;
  transform: rotate(-90deg);
}
.nav .nav-menu .nav-right .right-box .nav-links ul li .sub-menu1 ul li a {
  color: #000;
}
.nav .nav-menu .nav-right .right-box .nav-links ul li .sub-menu1 ul li i {
  color: #333;
  float: right;
}
.nav .nav-menu .nav-right .right-box .nav-links ul li .sub-menu1 ul .hover-me {
  transition: all 0.3s ease-in-out;
}
.nav .nav-menu .nav-right .right-box .nav-links ul li .sub-menu1 ul .hover-me:hover .sub-menu2 {
  background: #fff;
  transition: all 0.3s ease-in-out;
  padding: 5px;
  position: absolute;
  z-index: 99;
  width: 130px;
  display: flex;
  top: 25%;
  margin-left: 110px;
  box-shadow: 0px 10px 20px #ccc;
}
.nav .nav-menu .nav-right .right-box .nav-links ul li .sub-menu1 ul .hover-me .sub-menu2 {
  display: none;
}
.nav .nav-menu .nav-right .right-box .nav-btn {
  width: 170px;
  height: 50px;
  background: #0c5adb;
  border-radius: 1.5rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  transition: all 0.5s ease-in-out;
  z-index: 1;
}
.nav .nav-menu .nav-right .right-box .nav-btn::after {
  content: "";
  top: 0;
  left: 0;
  background: #1129b9;
  transform: scale(0);
  position: absolute;
  z-index: -1;
  transition: all 0.5s ease-in-out;
  border-radius: 1.5rem 1.5rem;
}
.nav .nav-menu .nav-right .right-box .nav-btn:hover::after {
  width: 100%;
  height: 100%;
  transform: scale(1);
}
.nav .nav-menu .nav-right .right-box .nav-btn span {
  text-transform: capitalize;
  color: #fff;
  font-weight: 700;
  font-size: 17px;
}

.banner-page {
  height: 100vh;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  overflow: hidden;
}
.banner-page .banner-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.banner-page .banner-content .content-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.banner-page .banner-content .content-menu .content-text h1 {
  font-size: 60px;
  font-weight: 700;
  color: #fff;
}
.banner-page .banner-content .content-menu .content-text p {
  font-size: 17px;
  color: #e8e8e8;
  font-weight: 600;
  margin-top: 30px;
  line-height: 1.6;
}
.banner-page .banner-content .content-menu .content-text .box {
  display: flex;
  align-items: center;
  gap: 2em;
  margin-top: 50px;
}
.banner-page .banner-content .content-menu .content-text .box .nav-btn {
  width: 200px;
  height: 50px;
  background: #0c5adb;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  transition: all 0.5s ease-in-out;
  z-index: 1;
}
.banner-page .banner-content .content-menu .content-text .box .nav-btn::after {
  content: "";
  left: 0;
  bottom: 0;
  background: #1129b9;
  width: 0%;
  height: 60%;
  position: absolute;
  z-index: -1;
  transition: all 0.5s ease-in-out;
}
.banner-page .banner-content .content-menu .content-text .box .nav-btn:hover::after {
  width: 100%;
  height: 100%;
  transform: scale(1);
}
.banner-page .banner-content .content-menu .content-text .box .nav-btn span {
  text-transform: capitalize;
  color: #fff;
  font-weight: 700;
  font-size: 17px;
}
.banner-page .banner-content .content-menu .content-text .box .nav-btn span i {
  margin-left: 5px;
}
.banner-page .banner-content .content-menu .content-text .box .btn {
  width: 90px;
  height: 90px;
  background: #fff;
  color: #1129b9;
  border-radius: 50%;
  font-size: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-page .banner-content .content-menu .content-image .anima {
  position: static;
  z-index: 99;
  margin-right: -200px;
  animation: route 15s linear infinite;
}
@keyframes route {
  to {
    transform: rotate(1turn);
  }
}
.banner-page .banner-content .content-menu .content-image .pic {
  position: absolute;
  right: 10%;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}

.container {
  width: 70%;
  height: 100%;
  margin: auto;
}/*# sourceMappingURL=Style.css.map */